<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EventsHub</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/summary.js"></script>
  </head>

  <body>

    <div class="event-navigation">
      <button class="info active">Information</button>
      <button class="attending">Participants</button>
    </div>

    <div class="event-info">
      <section id ="summary">
        <h1>Event Information:</h1>
        <h2><%= data.event_name %></h2>
        <button class="edit-event-name-btn">Edit</button>
        <form class="edit-event-name-form" action="/eventshub/event/<%=data.admin_url%>/edit-event-name" method="POST">
          <input id="newEventName" type="text" name="newEventName" placeholder="Update event name...">
          <input type="submit" value="Update">
        </form>
        <hr />
        <h3><%=data.desc %></h3>
        <button class="edit-event-desc-btn">Edit</button>
        <form class="edit-event-desc-form" action="/eventshub/event/<%=data.admin_url%>/edit-event-description" method="POST">
          <textarea id="newEventDescription" type="text" name="newEventDescription" placeholder="Update event description..."></textarea>
          <input type="submit" value="Update">
        </form>
        <hr />
        <p><%= data.event_date %></p>
        <hr />
        <p><%= data.time %></p>
        <hr />
        <p>Here is your admin url to edit and review your event:</p>
        <p><a href="http://localhost:8080/eventshub/event/<%=data.admin_url%>">http://localhost:8080/eventshub/event/<%=data.admin_url%></a></p>
        <hr />
        <p>Here is the url to send to people you'd like to invite to the event:</p>
        <p><a href="http://localhost:8080/eventshub/event/<%=data.url%>/participant" target="_blank">http://localhost:8080/eventshub/event/<%=data.url%>/participant</a></p>
      </section>
    </div>

    <div class="event-participants">
      <h1>Event Participants:</h1>


     <div class="attending-col">
      <h2>Attending:</h2>
        <% for (let i in participants) { %>
          <% if (participants[i].event_confirmation == true) { %>
            <%=participants[i].first_name%>
            <%=participants[i].last_name%>
          <% }%>
        <% }%>
      </div>

      <div class="not-attending-col">
      <h2>Not Attending:</h2>
        <% for (let i in participants) { %>
          <% if (!participants[i].event_confirmation) { %>
            <%=participants[i].first_name%>
            <%=participants[i].last_name%>
          <% }%>
        <% }%>
      </div>
    </div>


  </body>
</html>
