<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EventsHub</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/summary.js"></script>
  </head>

  <body>
    <section id ="summary">
      <h3>Event Summary</h3>
      <h2 id="title"> Event Name: <%= data.event_name %></h2>
      <h2 id="h_name">Full Name: <%= data.first_name %> <%= data.last_name %></h2>
      <h2 id="desc">Description: <%=data.desc %></h2>
      <h2 id="url1">Share URL: <%=data.url%></h2>
      <h2 id="url2">Admin URL: <%=data.admin_url%></h2>
      <p></p>
    </section>
  </body>
  
</html>
